<!DOCTYPE html>
<html ng-app="brEscritorios">
<head>
	<meta charset="UTF-8">
	<title>brEscritorios</title>
	<script	src="angular.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
	<script>
		angular.module("brEscritorios", ["customFilters"]);
	</script>	
	<script src="controllers/brescritorios.js"></script>
	<script src="filters/customFilters.js"></script>
	<script src="controllers/escritorioListControllers.js"></script>
</head>
<body ng-controller="escritorioCtrl">
	<div class="navbar navbar-inverse">
		<a class="navbar-brand" href="#">BR Escritórios</a>
		<div class="col-sm-3 col-md-3 pull-right">
		    <form class="navbar-form" role="search">
		        <div class="input-group">
		            <input type="text" class="form-control" placeholder="Busca" name="q">
		            <div class="input-group-btn">
		                <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
		            </div>
		        </div>
		    </form>
		</div>  
	</div>
	
	<div class="panel panel-default row" ng-controller="escritoriosListCtrl">
		<div class="col-xs-3">
			<a ng-click="selectCategory()"
				class="btn btn-block btn-default btn-lg">Home</a>
			<!--a ng-repeat="item in data.list"
				ng-click="selectCategory(item.nome)" class=" btn btn-block btn-default btn-lg" ng-class="getCategoryClass(item)">
				 
				
			</a-->
 

			<div class="btn btn-block btn-default btn-lg" ng-repeat="item in data.list | uniqueCategoria:'categoria'">
				<input type="checkbox"  /> {{item}}</br/>	
			</div>
		</div>
		
		<div class="col-xs-8">
			<div class="well" ng-repeat="item in data.list | filter:categoryFilterFn | range:selectedPage:pageSize">
				<h3>
					<strong>{{item.nome}} </strong>				 				
				</h3>
				<span class="lead">{{item.telefone.comercial}}</span>
			</div>
			<div class="pull-right btn-group">
				<a ng-repeat="page in data.list | filter:categoryFilterFn | pageCount:pageSize"
					ng-click="selectPage($index + 1)" class="btn btn-default"
					ng-class="getPageClass($index + 1)">
					{{$index + 1}}
				</a>
			</div>				
		</div>
	</div>
</body>
</html>
